﻿<div ng-controller="QRCodePropertyEditor.controller">
    <div ng-repeat="fqurl in pageUrls">
        <div >
			<a href="{{fqurl.url}}">
				<img src="https://chart.googleapis.com/chart?cht=qr&chs=177x177&chl={{fqurl.url}}"/>
				<div ng-bind="fqurl.url"/>
			</a>
			<a href="https://chart.googleapis.com/chart?cht=qr&chs=177x177&chl={{fqurl.url}}" download="{{fqurl.downloadlink}}">Download QR Code Image</a>
		</div>
    </div>
</div>